{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid pd_detail">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <img class="card-img-top img-fluid" src="{% if product.image_url %}{{ product.image_url }}{% else %}{{ MEDIA_URL }}{{ product.image }}{% endif %}" alt="{{ product.name }}" style="max-height: 700px; width: 100%; object-fit: cover;">
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        
        <section class="col-lg-4 offset-lg-2">
            <h4>{% if review %}Update{% else %}Add{% endif %} Review</h4>
            <hr>
            {% if reviewed %}
            <p>You have already reviewed this product.</p>
            {% else %}
                <form id="review-form" action="{% if review %}{% url 'edit_review' review.id %}{% else %}{% url 'add_review' product.id %}{% endif %}" class="form-reviews" method="POST">
                    {% csrf_token %}
                    {% for field in form  %}
                        {% if field.name == "rating" %}
                            <p class="mb-0">{{ field.label }} *</p>
                            <br>
                            {% for radio in field %}
                                <label for="{{ radio.id_for_label }}">
                                    <i class="far fa-star star"></i>
                                </label>
                                <div class="radio-tag d-inline">{{ radio.tag }}</div>
                            {% endfor %}
                            <br>
                        {% else %}
                            {{ field.errors }}
                            <br>
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <p class="small text-muted font-italic">* Required</p>
                    <button type="submit" class="btn btn-primary btn-lg rounded-pill mt-3" id="btn-review">
                        <span class="icon">
                            <i class="fas fa-pencil-alt mr-2"></i>
                        </span>
                        <span class="text-uppercase">{% if review %}Update{% else %}Add{% endif %} Review</span>
                    </button>
                                        
                </form>
            {% endif %}
        </section>
    </div>   
</div>
{% endblock %}
{% block extrajs %}
 <script src="{% static 'js/reviews.js' %}" type="text/javascript"></script>
{% endblock %}


