{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- section content -->
<section class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text">
                <h1 class="wow fadeInLeftBig">Welcome to Noble Candles</h1>
                <div class="description wow fadeInLeftBig">
                    <p>
                       <b>This is Noble Candles world!</b>
                    </p>
                </div>
                <div class="top-big-link wow fadeInUp">
                    <a class="btn btn-primary btn-primary-1" href="https://noble-candles.com">Buy our products</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><div>About</div></div>
            <div class="col-md-6"><div>jdfhsjkdfskfjkdsfh</div></div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><div>Contact</div></div>
            <div class="col-md-6"><div>MAP</div></div>
        </div>
    </div>
</section>
{% endblock %}