{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row bg-image">
        <div class="col-md-4 offset-md-4 mt-12 homepage_content">
            <div id="fade_cont">
                <div class="row">
                    <!-- Content for the section goes here -->
                    <p class="h1-size">Welcome to Noble Candles!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}