/* here goes the html */
html {
    height: 105%;
}

/* here goes the body */
body {
    background: url('/media/background-image.jpg ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

/* logo */
#logo {
    display: inline;
    font-family: Gabriola, fantasy;
    font-style: oblique;
    color:#080d07;
    font-size: 3vh;
    text-align: center;
    font-weight: normal;
}   


#logo a{
    color:#3f5a36;
}

/* here is goes main-menu class*/
.main-menu ul li {
    display: inline;
    font-family: Palace script MT reg, sans;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

/* here is css code for header menu*/
.main-menu {
    z-index: 999;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
    background-color: #b8bbbc;
}

/* here goes the main menu a  */
.main-menu a {
    color: inherit;
    text-decoration: none;
    padding-right: 50px;
    font-style: oblique;
}

/* nav */
nav {
    padding: 3rem;
}

/* here goes the Id for the active of the bar */
#navbarNav li>a.active {
    transform: scale(1.1);
    font-weight: bold;
}

/* vs-btn */
.vs-btn {
    float: right;
    border: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* here goes the footer css code*/
footer {
    background-color: #b8bbbc;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: block;
    font-size: 15px;
    font-style: oblique;
}


/***** Top menu *****/
 
.navbar {
    background: #444;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}
 
.navbar.navbar-no-bg {
    background: #444;
    background: rgba(0, 0, 0, 0.2);
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 
.navbar-brand {
    width: 136px;
    border: 0;
}

@media (max-width: 576px) { 
    #logo {
        font-size: 1.5vh;
    }   
 }

