/* here goes the footer css code*/
footer {
    background-color: #D6DBDF;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: block;
    font-size: 15px;
    font-style: oblique;
}

